html {
    --gray800: oklch(10% 0% 0);
    --gray600: oklch(40% 0% 0);
    --gray100: oklch(92% 0% 0);
    --brand: oklch(85% 0.3 145);

    background: var(--gray100);
}

html {
    font-family: system-ui, sans-serif;
}

header {
    background-color: var(--gray800);
    color: white;
    display: flex;
    justify-content: center;
    h1 {
        font-variation-settings: "wght" 900, "wdth" 700;
    }
}

.todo-form {
    background: var(--gray600);
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.todo-form button {
    background: aquamarine;
    margin-left: 3px;
    width: 50px;
    padding: 0.5rem 0rem 0.5rem 0rem;
    font-size: 20px;
}

.todo-form input {
    padding: 1rem 1rem 1rem 1rem;
}

.screen-reader-text {
    color: white;
}

.todo-list {
    border: solid 1px;
    padding: 1rem;
}

.todo-list li {
    border: solid 1px;
    padding: 0.5rem 0.5rem 0.5rem;
    margin: 2px;

}
